<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav"
               mode="side"
               opened
               fixedInViewport="true"
               fixedTopGap="64">
    <mat-nav-list class="nav-list" >
      <a mat-list-item routerLink="/home">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
      <a mat-list-item routerLink="/usuario">
        <i class="material-icons">
          calculate
        </i>
        Usuário
      </a>
      <a mat-list-item routerLink="/perfil" *ngIf="isAdmin">
        <i class="material-icons">
          calculate
        </i>
        Perfil
      </a>
      <a mat-list-item (click)="logout()" >
        <i class="material-icons">
          calculate
        </i>
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
